main {
  margin: 0 auto;
  max-width: 1280px;
  background: lightcyan;
  padding: 1rem;
}

.wrapper {
  height: 600px;
  background: lightgrey;
  margin: 1rem;
}

img {
  width: 100%;
  height: 100%;
}

.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 1000ms;
}

/* @font-face {
  font-family: "MyFont";
  src: url("./fonts/Dignitas-Regular.woff2") format("woff2"),
    url("./fonts/Dignitas-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin: 0 auto;
  max-width: 720px;
}

.another {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  margin: 3rem 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.step {
  opacity: 0;
  transition: opacity 1s ease;
  font-size: 1rem;
  border: 1px solid green;
}

 .artwork-image,
 .artwork-metadata {
   border: 1px solid red;
 }


.artwork-image {
   line-height: 0;
   width: 100%;
   padding-bottom: 56.25%;
   position: relative;
 }

img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   line-height: 0;
}


.is-active {
  background: gray;
  opacity: 1;
  transition: opacity font-size 1s ease;
}

 */
