@font-face {
  font-family: "MyFont";
  src: url("./fonts/Dignitas-Regular.woff2") format("woff2"),
    url("./fonts/Dignitas-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: green;
  background: url("./icon.png");
  font-family: "MyFont";
  font-size: 24px;
}
